.obox {
    display: inline-block;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

.obox1 {
    display: inline-block;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

.part2 {
    background-color: rgb(246, 246, 233);
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr;
}

.part1 {
    background-color: rgb(246, 246, 233);
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr;
}

.part3 {
    background-color: rgb(246, 246, 233);
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr;
}

.page_title {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.boxd {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 150px;
}

.dummy {}

.dcontainer {
    height: 55%;
    background-color: rgb(151, 182, 144);
    align-items: center;
}

.description {
    font-family: Gaglin;
    word-spacing: 10px;
    line-height: 32px;
    margin-top: 20%;
    margin-left: 7%;
    margin-bottom: 0%;
    font-size: 22px;
    font-weight: bold;
}

.boxi {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background-color: rgb(69, 125, 88);
}

.img {
    display: flex;
    background-color: rgb(151, 182, 144);
    height: 55%;
}

.titleimg {
    margin-right: 10%;
    margin-top: 11%;
    margin-left: 4%;
    margin-bottom: 8%;
    width: 85%;
}

.bbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.box1 {
    display: flex;
    align-items: center;
    background-color: rgb(69, 125, 88);
    justify-content: center;

}

.img1 {
    display: flex;
    justify-content: center;
}

.gfg {
    width: 38%;
}

.google {
    width: 42%;
}

.udemy {
    width: 43%;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description1 {
    font-family: Gaglin;
    font-size: 18px;
    margin-bottom: 0;
}

.description2 {
    margin-left: 7.5%;
    margin-right: 7%;
    font-size: 14px;
}

.accessnow {
    font-size: 14px;
    background-color: rgb(125, 155, 118);
    margin-bottom: 30px;
    border-radius: 6px;
}

.accessnow:hover {
    cursor: pointer;
}

.redirect {
    text-decoration: none;
    color: white;
}

.codechef {
    width: 40%;
}

.leetcode {
    width: 40%;
}

.hackerrank {
    width: 40%;
}

.descriptioncontest {
    font-family: Gaglin;
    word-spacing: 10px;
    line-height: 32px;
    margin-top: 20%;
    margin-left: 7%;
    margin-bottom: 0%;
    font-size: 22px;
    font-weight: bold;
}

.imgcontest {
    display: flex;
    background-color: rgb(151, 182, 144);
    height: 55%;
    padding-left: 5%;
}

.titleimg1 {
    margin-right: -2%;
    margin-top: 11%;
    margin-left: 10%;
    margin-bottom: 8%;
    width: 80%;
}

.boxd1 {
    display: grid;
    align-items: center;
    grid-template-columns: 150px 1fr;
}

.boxi1 {
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
    background-color: rgb(69, 125, 88);
}

.dcontest {
    font-family: Gaglin;
    word-spacing: 10px;
    line-height: 32px;
    margin-top: 20%;
    margin-left: 3%;
    margin-right: 7%;
    margin-bottom: 0%;
    font-size: 26px;
    font-weight: bold;
}

.descriptionlast {
    font-family: Gaglin;
    word-spacing: 10px;
    line-height: 40px;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 3%;
    margin-bottom: 0%;
    font-size: 20px;
    font-weight: bold;
}

.titleimg3 {
    margin-right: -2%;
    margin-top: 11%;
    margin-left: 10%;
    margin-bottom: 8%;
    width: 80%;
}


.clist {
    width: 70%;
}

.linkedin {
    width: 50%
}